#mumbleViewer { height: 300px; overflow-y: scroll; border: 1px solid #c0c0c0; padding: 3px; }
#mumbleViewer a, #mumbleViewer a:visited { color: #000; text-decoration: none; }
#mumbleViewer a:hover { text-decoration: underline; }
#mumbleViewer ul { list-style-type: none; margin: 0; padding: 0; }
#mumbleViewer ul ul { margin: 0 0 0 7px; padding: 0 0 0 7px; }
#mumbleViewer li { padding-top: 3px; }
#mumbleViewer a, #mumbleViewer span { background: url('images/mumbleIcons.png') no-repeat left -32px; padding-left: 20px; display: block; height: 16px; overflow: hidden; }
#mumbleViewer span { text-indent: -9999px; float: right; }
#mumbleViewer span.mumbleChannelViewer-user { text-indent: 0; background-position: 0 -16px; float: none; }
#mumbleViewer span.mumbleChannelViewer-authenticated { background-position: 0 0; }
#mumbleViewer span.mumbleChannelViewer-suppressed { background-position: 0 -96px; }
#mumbleViewer span.mumbleChannelViewer-selfDeafened { background-position: 0 -48px; }
#mumbleViewer span.mumbleChannelViewer-deafened { background-position: 0 -64px; }
#mumbleViewer span.mumbleChannelViewer-selfMuted { background-position: 0 -80px; }
#mumbleViewer span.mumbleChannelViewer-muted { background-position: 0 -112px;}